<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>URL Squeezer</title>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">URL Squeezer</label>
      <ul>
        <li><a class="active" href="#section1">Home</a></li>
        <li><a href="#section2">About</a></li>
        <li><a href="#section3">Contact</a></li>
      </ul>
    </nav>
    <div class="head">
      <h1 id="section1">Squeeze your Links
      <p>Short links, big results..</p></h1>
    </div>
    

    <% if (locals.error) { %>
        <p class="error"><%= error %></p>
        <% } %>

    <form action="/" method="post">
      <input type="url" name="url" id="url" placeholder="Please Enter URL.." />
      <input type="submit" value="Shorten" />
    </form>

    <div class="short-url">
      <% if (locals.short_url) { %>
          <a href="<%= short_url %>">Squeezed URL:  <%= short_url %>  </a>
          <% } %>
  </div>

    <h1 class="about" id="section2"><u>About</u></h1>
    <p style="color:rgb(0, 0, 0);text-align:center;">URL shortner is a website that shortens your url instantly without any hassle.<br/>
    We are here to provide you a service that is very much needed in today's online world.<br/>
    The url can be tracked or deleted as well.<br/>
    <h style="color:rgb(0, 0, 0);text-align:center;font: size 30%;">Simple and fast URL shortener!</h><br>
    ShortURL allows to reduce long links from Instagram, Facebook, YouTube, Twitter, Linked In and top sites on the Internet, just paste the long URL and click the Shorten URL button. On the next screen, copy the shortened URL and share it on websites, chat and e-mail. After shortening the URL, check how many clicks it received.
    </p>
    <h1 class="contact" id="section3">Contact Us. :</h1>
    <h2>+91 7895528339<br>ayazali78955@gmail.com</h2>

    
  </body>
</html>